body {
    margin: 0;
    padding: 0;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scene {
    width: 200px;
    height: 200px;
    perspective: 500px;
    margin: 50px auto;
    padding-top: 50px;
}
#cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    /* animation: spin 5s infinite linear; */
}
.cube-face {
    position: absolute;
    width: 200px;
    height: 200px;
    /* background: rgba(0, 100, 200, 0.7); */
    border: 1px solid #000;
    object-fit: cover;
}
.front { transform: translateZ(100px); }
.back { transform: translateZ(-100px) rotateY(180deg); }
.right { transform: rotateY(90deg) translateZ(100px); }
.left { transform: rotateY(-90deg) translateZ(100px); }
.top { transform: rotateX(90deg) translateZ(100px); }
.bottom { transform: rotateX(-90deg) translateZ(100px); }
.no-select {
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@keyframes spin {
    from { transform: rotateY(0); }
    to { transform: rotateY(-360deg); }
}